aiohttp
alembic
bcrypt
bcrypt
fastapi
fastapi-mail
lxml
mjml
openai
psycopg
PyJWT
pydantic[email]
pydantic-settings
python-multipart
pystache
rq
rq-dashboard
sqlalchemy[mypy]
tldextract
uvicorn[standard]