aiocron==1.8
aiodns==3.2.0
aiohttp==3.9.5
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.2.0
beautifulsoup4==4.12.3
black==24.4.0
Brotli==1.1.0
cffi==1.16.0
chardet==5.2.0
click==8.1.7
croniter==2.0.5
frozenlist==1.4.1
idna==3.7
lxml==5.1.0
multidict==6.0.5
mypy_extensions==1.0.0
packaging==24.0
pathspec==0.12.1
platformdirs==4.2.0
pycares==4.4.0
pycparser==2.22
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
soupsieve==2.5
typing_extensions==4.11.0
tzlocal==5.2
yarl==1.9.4
