aiocron==1.8
aiodns==3.2.0
aiohappyeyeballs==2.3.6
aiohttp==3.10.5
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.2.0
beautifulsoup4==4.12.3
Brotli==1.1.0
cffi==1.17.0
chardet==5.2.0
croniter==3.0.3
frozenlist==1.4.1
idna==3.7
lxml==5.2.2
multidict==6.0.5
pycares==4.4.0
pycparser==2.22
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
soupsieve==2.5
typing_extensions==4.12.2
tzlocal==5.2
yarl==1.9.4
